body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to right, #145a16, #7f358b);
}

h1, h2, label {
    color: white;
}

.identifier-container {
    display: contents;
    align-items: center;
    gap: 10px;
    width: 550px; /* Ajuste a largura conforme necessário */
    max-width: 600px; /* Largura máxima para evitar inputs muito largos */
    margin-bottom: 10px;
}

input#amount, input#boostPack, input#elementsBoost {
    flex-grow: 1; /* Faz o input crescer para ocupar o espaço disponível */
    padding: 10px; /* Padding interno */
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid white; /* Borda branca */
    background-color: #333; /* Fundo cinza escuro */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
    outline: none; /* Remove o contorno ao focar */
    width: 150px;
}

input#amount:focus, input#boostPack:focus, input#elementsBoost:focus {
    outline: none; /* Remove o contorno */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif; /* Fonte Arial para a tabela */
    background-color: #333; /* Fundo da tabela em cinza escuro */
}

table, th, td {
    border: 1px solid white; /* Borda branca para a tabela e células */
}

th, td {
    padding: 8px 10px; /* Aumentar padding */
    text-align: center;
    color: #fff; /* Cor do texto das células */
    font-size: 20px; /* Aumenta o tamanho da fonte */
}

th {
    background-color: #444; /* Fundo dos cabeçalhos da tabela */
}

td input {
    width: 100%; /* Input ocupa 100% da célula */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
    background: transparent; /* Fundo transparente */
    border: none; /* Remove borda */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    color: #fff; /* Cor do texto */
    outline: none; /* Remove o contorno ao focar */
}

/* Opcional: Estilo do input ao focar */
td input:focus {
    outline: none; /* Remove o contorno */
}
