* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Cor do texto branco para contraste */
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center;
    min-height: 100vh;
}

#logo {
    margin-top: 20px;
}

.identifier-container {
    margin: 20px 0; /* Espaçamento entre o input e os outros elementos */
    text-align: center; /* Centraliza o texto e o input */
}

#amount {
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

.loot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 colunas de largura igual */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px;
    width: 100%; /* Certifique-se de que o container usa toda a largura disponível */
    max-width: 1200px; /* Defina uma largura máxima se desejar */
    margin-top: 20px; /* Adiciona um espaço acima do loot-container */
}

.loot-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    color: #000; /* Texto preto para contraste dentro das caixas */
}

.loot-box:hover {
    transform: scale(1.05);
}

.loot-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.loot-details {
    padding: 15px;
}

.loot-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.loot-cost {
    font-size: 1em;
    margin-bottom: 15px;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px !important;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 10px; /* Alinha o texto verticalmente */
    color: #fff;
    font-weight: bold;
}

.progress-text {
    margin-top: 5px;
    font-size: 0.9em;
    text-align: center;
}

p {
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
}

.profit-positive {
    color: #28a745; /* Verde para valores positivos */
}

.profit-negative {
    color: #dc3545; /* Vermelho para valores negativos */
}

input#amount, input#boostPack, input#elementsBoost {
    flex-grow: 1; /* Faz o input crescer para ocupar o espaço disponível */
    padding: 10px; /* Padding interno */
    border-radius: 10px; /* Borda arredondada */
    border: 1px solid white; /* Borda branca */
    background-color: #333; /* Fundo cinza escuro */
    color: white; /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    box-sizing: border-box; /* Garante que o padding não afete a largura */
    outline: none; /* Remove o contorno ao focar */
    width: 250px;
}

input#amount:focus, input#boostPack:focus, input#elementsBoost:focus {
    outline: none; /* Remove o contorno */
}